
.grandfather{
    display: flex;
        justify-content: center;
        width: 100%;
}

.detail{
    background-color: rgba(180, 203, 255, 0.6);
    padding: 1rem 0rem 1rem 1rem;
  
    p{
        padding-bottom: 0px;
        margin-bottom: 0px;
     
    }
}

.parent{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height:80vh;
    margin-top:1rem;
    width:80%;
    
}

.child{
    
    overflow: auto;
    margin:0px 2rem 0px 2rem;
}

.scrolldata{
  
    overflow: scroll;
    height:57vh;
    overflow: auto;
}

.adfg{
    border:1px solid rgb(194, 192, 192);
    margin:10px 0px 10px 0px;
    height: auto;
  
}

input{
    padding: 0.5rem;
    border: none;
    // outline: none;
    border-radius: 0.5rem;
    background-color: transparent;
}
.makealign{
    display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top:1rem;
        margin-bottom:1rem;
}
input[type='file']{
 display: none;   

}


.platform  
{
    display: flex !important;
    gap: 7rem
}
.cell{
    display: flex !important;
        gap: 12rem
}

.single > label{
    height: 2.5rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 112, 215);
}

.cells{
    display: flex;
    justify-content: end;
    padding-right: 2.6rem;
    margin-top: 2rem;
    align-items: center;
    gap:2rem;
    padding-inline:1rem;
    button{
        border: none;
        background-color: transparent;
        border-bottom: 3px solid transparent;
        padding-bottom: 0.5rem;
    }
}

