.quotalist{
    border: 2px solid blue;
    display: flex;
   justify-content: space-between;
   align-items: center;
flex-direction: row;
    gap:3rem;
}


.target{
    background-color: blue;
    display: flex;
   justify-content: center;
    align-items: center;
    height: auto;
    padding: 0.5rem;
    width:4rem;
}

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info{
    display: flex;
    justify-content: space-between;
     align-items: center;
     height: auto;
     width:8rem;
     flex-direction: column;
}