
.grandfather{
    display: flex;
        justify-content: center;
        width: 100%;
}

.detail{
    background-color: rgba(180, 203, 255, 0.6);
    padding: 1rem 0rem 1rem 1rem;
    p{
        font-weight: 500;
    }
  
}

.parent{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height:80vh;
    margin-top:1rem;
    width:80%;
    
}

.makealign{
    display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top:1rem;
        margin-bottom:1rem;
}



.platform  , .cell
{
    display: flex !important;
    gap: 7rem;
    justify-content: center;
    align-items: center;
}
.child{
    
    overflow: auto;
    margin:0px 2rem 0px 2rem;
}

.scrolldata{
  
    overflow: scroll;
    height:70vh;
    overflow: auto;
}

.adfg{
    border:1px solid rgb(190, 188, 188);
    margin:10px 0px 10px 0px;

}