.dashboard{
    background-color: rgb(84, 24, 132) !important;
    width:auto;
    height: 100vh;
    .logoimg{
      
       img{
        width:70%;
        padding-left:2rem;
        margin-top: 1rem;
       }
       
    }
}

.maindiv{
    width:100%;
    display: flex;

}

.datadiv{
    width:100%;
    height:100vh;
    overflow-y: scroll;
    input{
        border:none;
        border-bottom: 1px solid grey;
        width:90%;
    }
    .singleinput{
        margin-left: 2rem;
    }

    button{
        background-color: rgb(84, 24, 132) !important;
        border:none;
        height:3rem;
        width:8rem;
        border-radius: 1rem;
       color: white;

    }
}

.surveys{
    display: flex;
    justify-content: space-evenly;
 
}



.navbar{
    background-color: rgb(84, 24, 132) !important;
    height: 5%;
    padding: 0px 1rem 0px 1rem;
}

.arrowicon{
    color:white;
    font-size: 1.9rem;
}
.usericon
{
    display: flex;
    gap:1rem;
    img{
        border: 2px solid white;
        height:1.7rem;
        width:1.7rem;
        border-radius: 50%;
    
    }

    button{
        background-color: transparent;
        color:white;
        border:none
    }


}